
body, h1, h3 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    width: 90%;
}

h1, h3 {
    font-family: Arial, sans-serif !important;
    margin: 0 !important;
    background-color: #f7f7f7;
    color: #333 !important;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

input[type=submit], button { 
    font-weight: bold;
    padding: 4px 10px; 
}

input[type=text] { 
    font-size:15px; padding: 5px 10px; 
}

.center { 
    text-align: center; 
}

.marg {
    margin-right: 10px;
}

button:hover {
    filter: brightness(1.1); /* Slightly increase brightness on hover */
}

input[type="submit"]:hover,
input[type="text"]:focus {
    background-color: white; /* Change background color */
    color: black; /* Change text color */
    outline: none;
}

input[type="submit"] {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    background-color: #333;
    color:  #fff;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

textarea {
    font-family: "Helvetica Neue", sans-serif; /* Better font choice */
    font-size: 28px; /* Better font size */
    padding: 10px;
    width: 500px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    resize: vertical; /* Allow vertical resizing */
    text-align: center;
    transition: border-color 0.2s;
}

/* Hide the default checkbox appearance */
.modern-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

    /* Style the custom checkbox when checked */
.modern-checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
}

    /* Hide the default checkbox indicator */
.modern-checkbox::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

    /* Style the custom checkbox indicator when checked */
.modern-checkbox:checked::before {
    content: "✓";
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-align: center;
}

/* Styling for pagination links */
.pagination {
    font-size: 20px; /* Adjust the font size as per your preference */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    margin: 10px;
    text-decoration: none;
    color: #333;
}

.current-page {
    font-weight: bold;
}

.go-btn {
    margin-left: 10px;
}

.go-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.go-input {
    width: 100px; /* Adjust the width as needed */
    padding: 5px;
    font-size: 16px;
}